<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="cartContent">
        <div th:if="${!cart.cartItems.isEmpty()}">
            <div th:each="cartItem, iter: ${cart.cartItems}" th:id="'cartItem' + ${cartItem.id}" class="d-flex py-1">
                <a th:href="'product?id=' + ${cartItem.id}" >
                    <img th:src="'data:image/jpeg;base64,' + ${cartItem.image.imageBase64}" style="width: 80px;"/>
                </a>
                <div class="flex-grow-1 pl-1">
                    <div><span th:text="${cartItem.count}">0</span> x <a th:href="'/product?id=' + ${cartItem.id}" th:text="${cartItem.name}">Name</a></div>
                    <div><span th:text="${cartItem.size}">Medium</span></div>
                    <!--                TODO change currency formatting approach -->
                    <span th:inline="text">$[[${#numbers.formatDecimal(cartItem.price, 0, 'COMMA', 2, 'POINT')}]]</span>

                </div>
                <div>
                    <button type="button" class="close" aria-label="Remove">
                        <span th:onclick="'javascript:cartRemove(' + ${cartItem.id} + ');'">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${cart.cartItems.isEmpty()}">
            <h6 class="text-center">Your cart is empty</h6>
        </div>
    </div>
</body>
</html>